GRAFANA_URL=http://athena:3000
GRAFANA_TOKEN=changeme
OPENAI_API_KEY=changeme
LOGS_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(filename)s - %(lineno)d - %(funcName)s - %(process)d - %(thread)d - %(threadName)s - %(message)s
LOGS_LEVEL=INFO

PUSHGATEWAY_URL=http://localhost:9091
PROM_JOB=pytest
PROM_INSTANCE=dev
PROM_EXTRA_TAGS=branch=main,run_id=local
PROM_CLEANUP=after  # Options: before, after (default), both, none