GRAFANA_URL=http://athena:3000
GRAFANA_TOKEN=changeme
OPENAI_API_KEY=changeme
LOGS_FORMAT=%(asctime)s - %(name)s - %(levelname)s - %(filename)s - %(lineno)d - %(funcName)s - %(process)d - %(thread)d - %(threadName)s - %(message)s
LOGS_LEVEL=INFO
